{
  "printWidth": 120,
  "singleQuote": true,
  "trailingComma": "es5",

  "tabWidth": 2,
  "endOfLine": "lf",
  "semi": true,
  "bracketSpacing": true,
  "arrowParens": "always",

  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrder": [
    "^react(.*)$",
    "<THIRD_PARTY_MODULES>",
    "^@/components/(.*)$",
    "^@/utils/(.*)$",
    "^[./]"
  ],
  "plugins": [
    "@trivago/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ]
}
